doctype html
html
	head
		title Puzzle Bot
		link(rel='stylesheet', href='/stylesheets/joker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.back.pastel-blue
		#content
			header#head
				h1 Arithmetic
			section.text
				article
					p
						| These puzzles challenge your addition, subtraction, multiplication, and division crunching power.  Remember the commutative laws, and try to solve them in your head.  Check your answer in the box to earn points!
			section.section
				article.card.back.pastel-egg
					header
						h3.card-header Additive Easy
					div
						p.card-text.card-space
							| 3 + 12 + 72 + 2 + 4 + 9 + 21 + 6
						.card-input
							input.card-number.medium
							button.card-button Check
				article.card.back.pastel-egg
					header
						h3.card-header Additive Medium
					div
						p.card-text.card-space
							| 52 + 41 + 78 + 95 + 62 + 108 + 90
						.card-input
							input.card-number.medium
							button.card-button Check
				article.card.back.pastel-egg
					header
						h3.card-header Additive Hard
					div
						p.card-text.card-space
							| 152 + 141 + 278 + 695 + 362 + 808 + 690
						.card-input
							input.card-number.medium
							button.card-button Check
			section.section
				article.card.back.pastel-egg
					header
						h3.card-header Mutiplicative Easy
					div
						p.card-text.card-space
							| 3 * 12 / 2 * 8 * 3 / 3
						.card-input
							input.card-number.medium
							button.card-button Check
				article.card.back.pastel-egg
					header
						h3.card-header Multiplicative Medium
					div
						p.card-text.card-space
							| 743 * 6 * 3 / 2
						.card-input
							input.card-number.medium
							button.card-button Check
				article.card.back.pastel-egg
					header
						h3.card-header Multiplicative Hard
					div
						p.card-text.card-space
							| 2398345 / 354
						.card-input
							input.card-number.medium
							button.card-button Check
			footer
				| &copy;Copyright 2014, PzlBot.com | Please do unto others as you would have them do unto you.
				noscript
					h2 Hello Non-JavaScripter!
					p
						| A friendly note: many of the puzzles and links shown above require javascript, and will likely not work unless javascript is enabled.
