doctype html
html
	head
		title Puzzle Bot
		meta(name="description",content="Daily Puzzles for your Mind")
		meta(name="author",content="Max Irwin")
		meta(name="canonical",content="http://pzlbot.com")
		meta(http-equiv="content-type",content="text/html;charset=UTF-8")
		meta(name="viewport",content="width=device-width; initial-scale=1.0")
		meta(property="og:image",content="http://pzlbot.com/star200.png"/>)
		meta(property="og:title",content="pzlbot.com"/)
		meta(property="og:type",content="website"/)
		meta(property="og:description",content="Daily Puzzles for your Mind"/)
		meta(property="og:url",content="http://pzlbot.com/"/)
		meta(property="og:site_name",content="pzlbot.com"/)

		link(rel='stylesheet', href='/stylesheets/joker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.back.pastel-white
		header#head
			h1 
				block title
			h2= puzzle.date
		#content
			section.ad
				.info Buy some stuff here!
			section.text
				article
					p
						block tagline
			section.section
				block content
			section.ad
				.info Buy some stuff here!
		footer#foot
			| &copy;Copyright 2014, PzlBot.com | Please do unto others as you would have them do unto you.
			noscript
				h2 Hello Non-JavaScripter!
				p
					| A friendly note: Checking the solution to the puzzles shown above requires javascript.  Since you have javascript disabled, you will not be able to check your answers.
		script(type="text/javascript",src="/javascripts/jquery.min.js")
		script(type="text/javascript",src="/javascripts/pzlbot.js")